# Virtual environments
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Project specific
data/model/
config/.env
